{
    "plugins": ["react"],
    "extends": [
        "plugin:prettier/recommended",
        "prettier/react",
        "prettier/standard",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    }
}
